.about {
  	background-color: #80b3ff;
}

.about-title {
	padding: 10px 0 10px 0;
	background-color: #ff751a; 
	border-bottom: #373F51 3px solid;
}

#about-land {
	font-size: 22px;
	font-weight: 100;
	color: black;
	padding-left: 20px;
}

.about-body {
	font-size: 14px;
	font-weight: 100;
	padding: 0px 30px 30px 30px;
}