.about {
  	background-color: #A9BCD0;
}

.about-title {
	padding: 20px;
	background-color: #373F51;
	color: white;
	font-size: 30px;
	font-weight: 100;
	border-bottom: #ff751a 3px solid;
}

.about-body {
	font-size: 14px;
	font-weight: 100;
	padding: 0px 10px 20px 10px;
}