.project-header {
	background-color: #ff751a;
	padding-left: 20px;
	border-bottom: #373F51 3px solid;
	font-size: 22px;
	font-weight: 100;
}

#header-title {
	padding-top: 10px;
	margin-bottom: 10px;
}

.each-project {
	min-height: 150px;
	width: 100%;
}

.each-title {
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0 10px 10px;
	margin-left: 10px;
}

#project-link {
	text-decoration: none;
	color: white;
}

.project-description {
	font-size: 14px;
	font-weight: 100;
	margin-right: 10px;
	padding-left: 15px;
	text-align: center;
}

.source {
	margin-top: 25px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 100;
	margin-left: 21px;
	float: left;
}