.project-header {
	background-color: #ff751a;
	padding-left: 20px;
	border-bottom: #373F51 3px solid;
	font-size: 22px;
	font-weight: 100;
}

#header-title {
	padding-top: 10px;
	margin-bottom: 10px;
}

.each-project {
	min-height: 135px;
	width: 100%;
}

.each-title {
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0 10px 10px;
	margin-left: 10px;
}

#each-link {
	text-decoration: none;
	color: white;
}

.each-description {
	font-size: 14px;
	font-weight: 100;
	padding: 0px 25px 0px 25px;
	text-align: center;
}

.each-source {
	margin-top: 10px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 100;
	margin-left: 21px;
	float: left;
}