.header {
  background-color: #373F51;
  min-height: 70px;
  padding: 20px 20px 0px 20px;
  color: white;
  font-family: Arial;
  font-size: 26px;
  text-align: left;
}

.header-links {
	float: right;
	padding-right: 10px;
	font-size: 14px;
	margin-top: 8px;
}

.links {
	color: white;
	text-decoration: none;
	margin-top: 10px;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
 	display: inline;
 	padding: 0 20px 0 20px;
}