.header-main {
  /*background-color: #373F51;*/
  background-image: url('./pictures/central.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px;
  min-height: 300px;
  padding: 20px 20px 0px 20px;
  color: white;
}

#header-name {
  	text-align: left;
  	font-size: 32px;
  	font-weight: 500;
	padding-top: 155px;
}

.header-links {
	padding-top: 0;
	margin-top: 0;
	float: right;
	padding-right: 5px;
	font-size: 14px;
	font-weight: 400;
	margin-left: -25px;
}

.links {
	color: white;
	text-decoration: none;
	margin-top: 10px;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
 	display: inline;
 	padding: 0 20px 0 20px;
}